    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">Ладодея</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">О нас</a></li>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#contact">Контакт</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


    <div class="business-header">
    
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
          	<!-- The background image is set in the custom CSS -->
            <h1 class="tagline">Изделия ручной работы</h1>
          </div>
        </div>
      
      </div>
    
    </div>


    <br>

    <div ng-repeat="row in rows track by $index" class="row">
        <div ng-repeat="col in cols track by $index" class="col-md-4 portfolio-item">
            <a href="#project-link"><img class="img-responsive img-rounded" src="{{goods[$parent.$index * numColumns + $index].imageUrl}}"></a>
            <h3><a href="#project-link">{{goods[$parent.$index * numColumns + $index].name}}</a></h3>
            <p>{{goods[$parent.$index * numColumns + $index].snippet}}</p>
        </div>
    </div>





    <div class="container">

      <hr>

      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <h2>Что мы делаем?</h2>
          <p>Производство штучных изделелий из картона, ткани и биссера. Каждая вещь делается вручную и с душой.</p>
          <p>По скольку каждая вешь уникальна и неповторима, приведенные фотографии десонстрируют лишь приблизительный вид вещи, которая будет создана для вас персонально.</p>
          <p><a class="btn btn-default btn-large" href="#">Call to action &raquo;</a></p>
        </div>
        <div class="col-lg-4 col-sm-4">
          <h2>Контакт</h2>
		  <address>
  			<strong>Мастерская Ладодея</strong><br>
  			тел (555) 555-555<br>
		  </address>
		  <address>
			<abbr title="Телефон">P:</abbr> (555) 555-555<br>
            <abbr title="Email">E:</abbr> <a href="mailto:#">first.last@example.com</a>
		  </address>
        </div>
      </div>

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Ладодея 2013</p>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->


<div class="footer">
  <p>♥ with love</p>
</div>
